body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  font-style: normal;
  background-color: #1b252f;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 699px) {
  .mobile-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.page-header {
  min-height: 464px;
  background: url(../img/iphone-5-in-hand-png.png), url(../img/back-tablet@1x.jpg);
  background-position: 50% 174px, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
}
.page-header__logo {
  display: block;
  padding: 18px;
  padding-left: 5%;
}
.page-header__logo--closed {
  background: rgba(0, 0, 0, 0.4);
}
.page-header__logo--opened {
  background: #2b3b4b;
}
.page-header__logo img {
  display: block;
  width: 75px;
  height: 22px;
}
@media (min-width: 700px) {
  .page-header {
    min-height: 730px;
    background: url(../img/iphone-6-tablet.png), url(../img/back-tablet@1x.jpg);
    background-position: 90% 200px, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
    /*		@media @retina {
				background: url(../img/iphone-6-tablet2x.png), url(../img/back-tablet@2x.jpg);
			} Если бы были файлы 2x */
  }
  .page-header__logo {
    padding-top: 26px;
    padding-bottom: 40px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .page-header__logo img {
    width: 147px;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .page-header {
    min-height: 850px;
    background: url(../img/iphone-6.png), url(../img/back-desktop.jpg);
    background-position: 60% 210px, top;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
  }
  .page-header__logo {
    padding-left: 10%;
    background: rgba(0, 0, 0, 0.5);
  }
}
.main-nav {
  position: relative;
  z-index: 1;
}
.main-nav__toggle {
  position: absolute;
  display: block;
  top: -40px;
  right: 5%;
  height: 22px;
  width: 50px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 50px;
  background-color: #fff;
  box-shadow: 0 9px 0 0 #fff, 0 18px 0 0 #fff;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 9px 0 0 #d22856, 0 18px 0 0 #d22856;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0.3), 0 18px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 10px;
  height: 25px;
  width: 4px;
  transform: rotate(45deg);
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 10px;
  height: 25px;
  width: 4px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.main-nav--opened .main-nav__toggle:hover::before {
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:active::before {
  opacity: 0.4;
}
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 0.4;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--nojs .main-nav__list {
  display: block;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #2b3b4b;
}
.main-nav__item a {
  display: block;
  padding: 20px;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
  box-shadow: inset 0 1px 0 0 #495562, inset 0 -1px 0 0 #495562;
  text-decoration: none;
  color: #fff;
}
.main-nav__item a[href]:hover {
  color: #d22856;
}
.main-nav__item a[href]:active {
  box-shadow: inset 0 1px 0 0 rgba(73, 85, 95, 0.5), inset 0 -1px 0 0 rgba(73, 85, 95, 0.5);
  color: rgba(210, 40, 86, 0.8);
}
@media (min-width: 700px) {
  .main-nav__toggle {
    position: absolute;
    top: -62px;
    right: 55.%;
    display: block;
    height: 22px;
    width: 50px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
}
@media (min-width: 1024px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__list {
    position: absolute;
    top: -104px;
    right: 0;
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
    text-transform: none;
    background-color: transparent;
  }
  .main-nav__item a {
    padding: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    box-shadow: none;
    text-decoration: none;
    color: #fff;
  }
  .main-nav__item a[href]:hover {
    color: #d22856;
    border-bottom: 2px solid #fff;
  }
  .main-nav__item a[href]:active {
    box-shadow: none;
    color: rgba(210, 40, 86, 0.5);
  }
}
.app-downloads {
  position: absolute;
  top: 240px;
  left: 5%;
  background-color: transparent;
}
.app-downloads__slogan--mobile-hidden {
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 28px;
}
.app-downloads__btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 280px;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 50px;
}
.app-downloads__btn:hover {
  background-color: #fff;
  color: #d22856;
}
.app-downloads__btn:active {
  background-color: #fff;
  color: #f2cdd4;
}
.app-downloads__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 28px;
  padding: 0 12%;
}
.app-downloads__apple {
  width: 47px;
  height: 56px;
  background-image: url(../img/spritesheet.png);
  background-position: -58px -5px;
}
.app-downloads__android {
  width: 43px;
  height: 47px;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -5px;
}
.app-downloads__windows {
  width: 44px;
  height: 41px;
  background-image: url(../img/spritesheet.png);
  background-position: -153px -109px;
}
.app-downloads__description {
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 699px) {
  .app-downloads {
    position: static;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #1d2631;
  }
}
@media (min-width: 1024px) {
  .app-downloads {
    left: 10%;
    top: 250px;
  }
}
.slogan {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  background: #fff;
  overflow: hidden;
}
.slogan__item {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #2b3b4b;
}
.slogan__item--wrap {
  display: block;
}
@media (max-width: 699px) {
  .slogan {
    padding-top: 42px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    overflow: hidden;
  }
  .slogan__item {
    padding: 0;
    margin: 0;
    color: #2b3b4b;
  }
  .slogan__item:first-child {
    padding-bottom: 30px;
  }
  .slogan__item--wrap {
    display: inline;
  }
}
@media (min-width: 700px) {
  .slogan {
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .slogan {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 70px;
  }
}
.features {
  color: #2b3b4b;
  background-color: #f2f2f2;
  overflow: hidden;
  text-align: center;
}
.features:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  border: 50px solid #fff;
  border-right-color: transparent;
  border-left: none;
  border-bottom: none;
  border-right-width: 767px;
}
.features__item h2 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 28px;
  color: black;
  padding-bottom: 10px;
}
.features__item p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding-bottom: 30px;
}
@media (max-width: 699px) {
  .features:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 157px;
    height: 280px;
    background: url(../img/iphone.png);
    background-repeat: no-repeat;
    background-position: center 20px;
  }
  .features__item {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 700px) {
  .features {
    position: relative;
  }
  .features::before {
    border-right-width: 1023px;
  }
  .features::after {
    position: absolute;
    left: 5%;
    top: 5px;
    content: "";
    display: block;
    width: 265px;
    height: 500px;
    background: url(../img/iphone-tablet.png) no-repeat;
  }
  .features__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .features__item {
    width: 45%;
    padding-right: 5%;
    text-align: left;
  }
  .features__item--wrapper {
    display: block;
  }
  .features__item--mobile-hidden {
    position: relative;
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 50%;
    width: 45%;
    padding-right: 5%;
    text-align: left;
    background: #fff;
    z-index: 1;
  }
  .features__item--mobile-hidden::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 5%;
    display: block;
    height: 277px;
    width: 240px;
    background: url(../img/24.png) no-repeat;
  }
  .features__item--mobile-hidden h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .features__item--mobile-hidden p {
    padding-bottom: 10px;
  }
  .features__item--mobile-hidden a {
    color: #d22856;
  }
}
@media (min-width: 1024px) {
  .features {
    position: relative;
  }
  .features::before {
    border-right-width: 1200px;
  }
  .features::after {
    display: none;
  }
  .features__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .features__item {
    position: relative;
    padding: 30px 40px;
    padding-top: 270px;
    width: 240px;
    text-align: center;
  }
  .features__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -70px;
    left: 30px;
    width: 257px;
    height: 302px;
    background: url(../);
  }
  .features__item p {
    font-size: 18px;
  }
  .features__item h2 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .features__item-1::before {
    background: url(../img/desktop-phone1.png) no-repeat;
  }
  .features__item-2::before {
    background: url(../img/desktop-phone2.png) no-repeat;
  }
  .features__item-3::before {
    background: url(../img/desktop-phone3.png) no-repeat;
  }
  .features__item--wrapper {
    display: inline;
  }
  .features__item--mobile-hidden {
    position: relative;
    padding-top: 98px;
    padding-bottom: 100px;
    padding-left: 40%;
    padding-right: 20%;
    width: 40%;
    font-size: 18px;
    background: #f2f2f2;
    z-index: 1;
  }
  .features__item--mobile-hidden::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 5%;
    display: block;
    height: 277px;
    width: 240px;
    background: url(../img/24.png) no-repeat;
  }
  .features__item--mobile-hidden::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 10%;
    display: block;
    height: 277px;
    width: 240px;
    background: url(../img/24.png) no-repeat;
  }
}
.reviews {
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  color: #1d2631;
}
.reviews__input {
  display: none;
}
.reviews__arrows {
  display: none;
}
.reviews__slider {
  overflow: hidden;
}
.reviews__list {
  width: 300%;
  display: flex;
  justify-content: space-around;
  transition: transform 0.8s;
}
.reviews__item {
  width: 33.3%;
  text-align: center;
}
.reviews__author {
  display: block;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 24px;
  color: #000;
}
.reviews__item blockquote {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.reviews__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__control {
  margin: 10px;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}
#reviews-btn-1:checked ~ .reviews__controls label[for="reviews-btn-1"],
#reviews-btn-2:checked ~ .reviews__controls label[for="reviews-btn-2"],
#reviews-btn-3:checked ~ .reviews__controls label[for="reviews-btn-3"] {
  border: 3px solid #1d2631;
}
#reviews-btn-1:checked ~ .reviews__list {
  transform: translate(0);
}
#reviews-btn-2:checked ~ .reviews__list {
  transform: translate(-33.3%);
}
#reviews-btn-3:checked ~ .reviews__list {
  transform: translate(-66.6%);
}
@media (min-width: 700px) {
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviews__author-info {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #283645;
  }
  .reviews__item blockquote {
    margin: 0;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }
}
@media (min-width: 1024px) {
  .reviews__arrows {
    display: block;
  }
  .reviews {
    position: relative;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 185px;
  }
  .reviews::before {
    content: "";
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 63px;
    background: url(../img/quotes.png) no-repeat;
    background-position: center;
  }
  .reviews__arrow-left {
    position: absolute;
    cursor: pointer;
    top: 200px;
    left: 15%;
    width: 22px;
    height: 42px;
    border: none;
    background: url(../img/spritesheet.png);
    background-position: -121px -103px;
    z-index: 100;
  }
  .reviews__arrow-left:hover {
    background-position: -169px -5px;
  }
  .reviews__arrow-left:active {
    background-position: -171px -57px;
  }
  .reviews__arrow-right {
    position: absolute;
    display: block;
    top: 200px;
    right: 15%;
    width: 22px;
    height: 42px;
    border: none;
    cursor: pointer;
    background: url(../img/spritesheet.png);
    background-position: -5px -160px;
    z-index: 100;
  }
  .reviews__arrow-right:hover {
    background-position: -37px -160px;
  }
  .reviews__arrow-right:active {
    background-position: -69px -160px;
  }
}
.prices {
  overflow: hidden;
  padding-bottom: 30px;
  color: #1d2631;
  background-color: #f2f2f2;
}
.prices:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 65px;
  border: 50px solid #fff;
  border-right-color: transparent;
  border-left: none;
  border-bottom: none;
  border-right-width: 699px;
}
.prices__input {
  display: none;
}
.prices__row {
  display: flex;
  border-left: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  text-align: center;
  box-sizing: border-box;
}
.prices__row th {
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border-right: 2px solid #f2f2f2;
  width: 25%;
  background-color: #283645;
}
.prices__row th:nth-child(3) {
  position: relative;
  overflow: hidden;
}
.prices__row th:nth-child(3)::before {
  content: "ХИТ";
  position: absolute;
  top: 9px;
  left: -32px;
  display: block;
  padding: 0 40px;
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: 300;
  background-color: #d22856;
}
.prices__tariffs span {
  text-transform: none;
  font-size: 24px;
  font-weight: 300;
}
.prices__row td {
  padding: 14px 1%;
  width: 25%;
  text-transform: uppercase;
  text-align: left;
  border-right: 1px solid #f2f2f2;
  background-color: #fff;
}
.prices__option-1 td,
.prices__option-2 td,
.prices__option-3 td {
  position: relative;
}
.prices__option-1 td:not(:first-child)::before,
.prices__option-2 td:not(:first-child):not(:nth-child(2))::before,
.prices__option-3 td:last-child::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  height: 14px;
  width: 28px;
  border-left: 4px solid #3dc644;
  border-bottom: 4px solid #3dc644;
  transform: rotate(-45deg);
}
.prices__option-2 td:nth-child(2)::before,
.prices__option-3 td:not(:first-child):not(:last-child)::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 34px;
  height: 38px;
  width: 4px;
  background: red;
  transform: rotate(-45deg);
}
.prices__option-2 td:nth-child(2)::after,
.prices__option-3 td:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 34px;
  height: 38px;
  width: 4px;
  background: red;
  transform: rotate(45deg);
}
.prices__tariffs {
  height: 98px;
  color: #fff;
}
@media (max-width: 699px) {
  .prices__table {
    margin-bottom: 30px;
    width: 400%;
    border-bottom: 1px solid #f2f2f2;
    border-collapse: collapse;
    transition: transform 0.8s;
  }
  #prices-btn-1:checked ~ .prices__table {
    transform: translate(-25%);
  }
  #prices-btn-2:checked ~ .prices__table {
    transform: translate(-50%);
  }
  #prices-btn-3:checked ~ .prices__table {
    transform: translate(-75%);
  }
  .prices__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prices__control {
    margin: 10px;
    width: 6px;
    height: 6px;
    background: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
  }
  #prices-btn-1:checked ~ .prices__controls label[for="prices-btn-1"],
  #prices-btn-2:checked ~ .prices__controls label[for="prices-btn-2"],
  #prices-btn-3:checked ~ .prices__controls label[for="prices-btn-3"] {
    border: 3px solid #1d2631;
  }
}
@media (min-width: 700px) {
  .prices {
    padding-bottom: 70px;
  }
  .prices:before {
    margin-bottom: 35px;
    width: 100%;
    border-right-width: 1023px;
  }
  .prices__table {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    border-collapse: collapse;
    transition: transform 0.8s;
  }
  .prices__option-1 td:not(:first-child)::before,
  .prices__option-2 td:not(:first-child):not(:nth-child(2))::before,
  .prices__option-3 td:last-child::before {
    right: 50%;
    transform: translateX(50%) rotate(-45deg);
  }
  .prices__option-2 td:nth-child(2)::before,
  .prices__option-3 td:not(:first-child):not(:last-child)::before {
    right: 50%;
  }
  .prices__option-2 td:nth-child(2)::after,
  .prices__option-3 td:not(:first-child):not(:last-child)::after {
    right: 50%;
  }
  .prices__row th:first-child {
    background-color: #f2f2f2;
  }
  .prices__row td:not(:first-child) {
    font-size: 0;
  }
}
@media (min-width: 1024px) {
  .prices {
    padding-bottom: 95px;
  }
  .prices:before {
    margin-bottom: 65px;
    width: 100%;
    border-right-width: 1200px;
  }
  .prices__table {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    border-collapse: collapse;
    transition: transform 0.8s;
  }
}
.contacts {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: #fff;
}
.contacts__title {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #283645;
}
.contacts__number,
.contacts__mail,
.contacts__adress {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #283645;
}
.contacts__adress {
  padding-bottom: 0;
}
.contacts__number a,
.contacts__mail span,
.contacts__adress span {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #d22856;
}
@media (min-width: 700px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0px;
  }
  .contacts__number a,
  .contacts__mail span,
  .contacts__adress span {
    display: inline-block;
    padding-top: 5px;
  }
  .contacts__title {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__number,
  .contacts__mail,
  .contacts__adress {
    width: 35%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 40px;
  }
  .contacts__number,
  .contacts__mail,
  .contacts__adress {
    width: 24%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .contacts__mail {
    order: 1;
  }
  .contacts__number a,
  .contacts__mail span,
  .contacts__adress span {
    padding-top: 15px;
  }
}
.map {
  position: relative;
  height: 400px;
}
.map::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  background-image: url(../img/bg-triangle-white-footer.svg);
  background-color: transparent;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
@media (min-width: 700px) {
  .map {
    height: 500px;
  }
}
@media (min-width: 700px) and (min-width: 1024px) {
  .map {
    height: 550px;
  }
}
.page-footer {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  background-color: #fff;
}
.page-footer__logo img {
  display: block;
  align-self: flex-end;
  width: 147px;
  height: 40px;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social__item {
  position: relative;
  margin: 0 6px;
  height: 48px;
  width: 48px;
  font-size: 0px;
  border: 2px solid #d0d2d3;
  border-radius: 50%;
}
.social__item:hover {
  border-color: #283645;
}
.social__item:active {
  opacity: 0.5;
}
.social__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/spritesheet.png);
}
.social__twitter::before {
  width: 18px;
  height: 14px;
  background-position: -101px -160px;
}
.social__facebook::before {
  width: 9px;
  height: 18px;
  background-position: -115px -59px;
}
.social__youtube::before {
  width: 15px;
  height: 13px;
  background-position: -129px -160px;
}
.footer__copyright {
  align-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #545d67;
}
.footer__copyright-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  height: 34px;
  width: 27px;
  background-image: url(../img/spritesheet.png);
  background-position: -134px -59px;
}
@media (max-width: 699px) {
  .page-footer {
    display: none;
  }
}
.photo-header {
  min-height: 235px;
  background: url(../img/back-tablet@1x.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.photo-header__title {
  margin: 0px;
  padding-top: 35px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 700px) {
  .photo-header {
    min-height: 450px;
    background: url(../img/back-tablet@1x.jpg);
    background-position: center;
    background-size: cover;
  }
  .photo-header__title {
    padding-top: 80px;
    font-size: 50px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .photo-header {
    background: url(../img/back-desktop.jpg) no-repeat;
    background-position: top;
    background-size: cover;
  }
  .photo-header__title {
    padding-top: 80px;
  }
}
.preview {
  padding: 50px 10%;
  padding-bottom: 60px;
  text-align: center;
  color: #283645;
  background: #fff;
}
.preview p {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .preview {
    padding: 70px 20%;
    padding-bottom: 80px;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .preview {
    padding: 80px 20%;
    padding-bottom: 90px;
    font-size: 20px;
    line-height: 35px;
  }
  .preview p {
    margin: 0 auto;
    max-width: 570px;
  }
}
.panorama {
  position: relative;
  background: #fff;
}
.panorama__photo img {
  width: 100%;
}
.panorama__title {
  position: absolute;
  margin: 0;
  padding: 0px 20px;
  font-size: 12px;
  line-height: 35px;
  text-transform: uppercase;
  background: #d22856;
}
.panorama__note {
  position: relative;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  margin: -10px auto;
  background: #f2f2f2;
  color: #283645;
}
.panorama__author {
  font-style: normal;
  font-weight: 700;
  color: black;
}
.panorama__author span {
  font-weight: 300;
  text-transform: uppercase;
}
.panorama__comment {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.panorama__like {
  color: #d22856;
}
@media (max-width: 699px) {
  .panorama__note::before {
    content: "";
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 14px;
    height: 12px;
    background: url(../img/icon-heart.png);
  }
  .panorama__title {
    right: 20px;
  }
}
@media (min-width: 700px) {
  .panorama__like {
    position: absolute;
    top: 20px;
    right: 60px;
  }
  .panorama__like::before {
    content: "";
    position: absolute;
    top: 8px;
    right: -30px;
    width: 14px;
    height: 12px;
    background: url(../img/icon-heart.png);
  }
  .panorama__note {
    width: 70%;
    padding-right: 15%;
  }
  .panorama__title {
    top: 56px;
    right: 40px;
  }
}
@media (min-width: 1024px) {
  .panorama__title {
    right: 132px;
  }
}
.cards {
  background-color: #fff;
  color: #283645;
}
.cards__item {
  position: relative;
  background: #f2f2f2;
}
.cards__author {
  font-style: normal;
  font-weight: 700;
  color: black;
}
.cards__author span {
  font-weight: 300;
  text-transform: uppercase;
}
.cards__comment {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.cards__like {
  color: #d22856;
}
.cards__like::before {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 5%;
  width: 14px;
  height: 12px;
  background: url(../img/icon-heart.png);
}
@media (max-width: 699px) {
  .cards {
    padding-top: 30px;
  }
  .cards__item {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .cards__note {
    padding: 5%;
  }
}
@media (min-width: 700px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    padding-top: 30px;
  }
  .cards__item {
    position: relative;
    margin: 12px;
    width: 300px;
  }
  .cards__note {
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .cards__like {
    position: absolute;
    bottom: 20px;
  }
  .cards__like::before {
    bottom: 10px;
    right: -130px;
  }
}
.photo-slogan {
  padding: 5%;
  padding-top: 25px;
  color: #283645;
  text-align: center;
  background: #fff;
}
@media (min-width: 700px) {
  .photo-slogan {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 699px) {
  .photo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
  }
  .page-footer__logo,
  .social,
  .footer__copyright {
    padding-top: 40px;
  }
}
@media (min-width: 700px) {
  .photo-footer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
  .photo-footer__logo img {
    display: block;
    align-self: flex-end;
    width: 147px;
    height: 40px;
  }
  .social {
    display: flex;
    justify-content: space-between;
  }
  .social__item {
    position: relative;
    margin: 0 6px;
    height: 48px;
    width: 48px;
    font-size: 0px;
    border: 2px solid #d0d2d3;
    border-radius: 50%;
  }
  .social__item:hover {
    border-color: #283645;
  }
  .social__item:active {
    opacity: 0.5;
  }
  .social__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/spritesheet.png);
  }
  .social__twitter::before {
    width: 18px;
    height: 14px;
    background-position: -101px -160px;
  }
  .social__facebook::before {
    width: 9px;
    height: 18px;
    background-position: -115px -59px;
  }
  .social__youtube::before {
    width: 15px;
    height: 13px;
    background-position: -129px -160px;
  }
  .footer__copyright {
    align-self: center;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #545d67;
  }
  .footer__copyright-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    height: 34px;
    width: 27px;
    background-image: url(../img/spritesheet.png);
    background-position: -134px -59px;
  }
}
