@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Light.woff2') format('woff2'), url('fonts/subset-OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Bold.woff2') format('woff2'), url('fonts/subset-OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Regular.woff2') format('woff2'), url('fonts/subset-OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Open Sans', "Arial", sans-serif;
  color: #fff;
  background-color: rosybrown;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 767px) {
  .page-header {
    min-height: 464px;
    margin: 0 auto;
    background: url(../img/iphone-5-in-hand-png.png), url(../img/back-tablet@1x.png);
    background-position: 50% 174px, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
  }
  .page-header__logo {
    height: 22px;
    padding: 18px;
    /*&:hover {
			background-color: #d22856; 
		}
		&:active {
			opacity: 30%; 
		} */
  }
  .page-header__logo--closed {
    background: rgba(0, 0, 0, 0.3);
  }
  .page-header__logo--opened {
    background: #2b3b4b;
  }
  .page-header__logo img {
    width: 75px;
    height: 22px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    position: relative;
  }
  .main-nav__toggle {
    position: absolute;
    top: -40px;
    right: 18px;
    display: block;
    height: 22px;
    width: 50px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 4px;
    width: 50px;
    background-color: #fff;
    box-shadow: 0 9px 0 0 #fff, 0 18px 0 0 #fff;
  }
  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: #d22856;
    box-shadow: 0 9px 0 0 #d22856, 0 18px 0 0 #d22856;
  }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 9px 0 0 rgba(255, 255, 255, 0.3), 0 18px 0 0 rgba(255, 255, 255, 0.3);
  }
  .main-nav--opened .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 10px;
    height: 25px;
    width: 4px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle:hover::before {
    background-color: #d22856;
  }
  .main-nav--opened .main-nav__toggle:active::before {
    opacity: 0.4;
  }
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 10px;
    height: 25px;
    width: 4px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle:hover::after {
    background-color: #d22856;
  }
  .main-nav--opened .main-nav__toggle:active::after {
    opacity: 0.4;
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #2b3b4b;
  }
  .main-nav__item a {
    display: block;
    padding: 20px;
    border-top: 1px solid #030303;
    border-bottom: 1px solid #030303;
    border-collapse: collapse;
    box-shadow: inset 0 1px 0 0 #495562, inset 0 -1px 0 0 #495562;
    text-decoration: none;
    color: #fff;
  }
  .main-nav__item a[href]:hover {
    color: #d22856;
  }
  .main-nav__item a[href]:active {
    box-shadow: inset 0 1px 0 0 rgba(73, 85, 95, 0.5), inset 0 -1px 0 0 rgba(73, 85, 95, 0.5);
    color: rgba(210, 40, 86, 0.5);
  }
}
@media (max-width: 767px) {
  .app-downloads {
    margin: 0 auto;
    padding: 30px 0;
    background-color: #1d2631;
  }
  .app-downloads__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 28px;
    width: 280px;
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 50px;
  }
  .app-downloads__btn:hover {
    background-color: #fff;
    color: #d22856;
  }
  .app-downloads__btn:active {
    background-color: #fff;
    color: #f2cdd4;
  }
  .app-downloads__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
  }
  .app-downloads__logo-item {
    margin-right: 18px;
    margin-left: 18px;
  }
  .app-downloads__description {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
}
.slogan {
  position: relative;
  padding-top: 42px;
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.slogan-item {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: #2b3b4b;
}
.slogan-item:first-child {
  margin-bottom: 30px;
}
.features {
  padding-bottom: ;
  color: #2b3b4b;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center 570px;
  overflow: hidden;
  text-align: center;
}
.features:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
  border: 50px solid #fff;
  border-right-color: transparent;
  border-left: none;
  border-bottom: none;
  border-right-width: 767px;
}
.features:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 280px;
  background: url(../img/iphone.png);
}
.features__item h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: black;
}
.features__item p {
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 30px;
}
.reviews {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #fff;
  color: #1d2631;
}
.reviews__input {
  display: none;
}
.reviews__slider {
  overflow: hidden;
}
.reviews__list {
  width: 300%;
  display: flex;
  justify-content: space-around;
  transition: transform 0.8s;
}
.reviews__item {
  width: 33.3%;
  text-align: center;
  margin-bottom: 30px;
  padding-left: 18px;
  padding-right: 18px;
}
.reviews__item cite {
  display: block;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 14px;
  color: #000;
}
.reviews__item blockquote {
  margin: 0px;
  font-size: 14px;
  line-height: 30px;
}
.reviews__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__control {
  margin: 10px;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}
#reviews-btn-1:checked ~ .reviews__controls label[for="reviews-btn-1"],
#reviews-btn-2:checked ~ .reviews__controls label[for="reviews-btn-2"],
#reviews-btn-3:checked ~ .reviews__controls label[for="reviews-btn-3"] {
  border: 3px solid #1d2631;
}
#reviews-btn-1:checked ~ .reviews__list {
  transform: translate(0);
}
#reviews-btn-2:checked ~ .reviews__list {
  transform: translate(-33.3%);
}
#reviews-btn-3:checked ~ .reviews__list {
  transform: translate(-66.6%);
}
.prices {
  overflow: hidden;
  color: #1d2631;
  background-color: #f2f2f2;
}
.prices:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
  border: 50px solid #fff;
  border-right-color: transparent;
  border-left: none;
  border-bottom: none;
  border-right-width: 767px;
}
.prices__input {
  display: none;
}
.prices__table {
  width: 400%;
  border-bottom: 1px solid #f2f2f2;
  border-collapse: collapse;
  margin-bottom: 30px;
  transition: transform 0.8s;
}
.prices__row {
  display: flex;
  border-left: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  text-align: center;
  box-sizing: border-box;
}
.prices__row th {
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border-right: 2px solid #f2f2f2;
  width: 25%;
  background-color: #283645;
}
.prices__row th:nth-child(3) {
  position: relative;
  overflow: hidden;
}
.prices__row th:nth-child(3)::before {
  content: "ХИТ";
  position: absolute;
  top: 16px;
  left: -30px;
  display: block;
  padding: 0 44px;
  transform: rotate(-45deg);
  font-size: 14px;
  font-weight: 300;
  background-color: #d22856;
}
.prices__row span {
  text-transform: none;
  font-size: 24px;
  font-weight: 300;
}
.prices__row td {
  padding: 14px 18px;
  width: 25%;
  text-transform: uppercase;
  text-align: left;
  border-right: 1px solid #f2f2f2;
  background-color: #fff;
}
.prices__option-1 td,
.prices__option-2 td,
.prices__option-3 td {
  position: relative;
}
.prices__option-1 td:not(:first-child)::before,
.prices__option-2 td:not(:first-child):not(:nth-child(2))::before,
.prices__option-3 td:last-child::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 18px;
  height: 14px;
  width: 28px;
  border-left: 4px solid #3dc644;
  border-bottom: 4px solid #3dc644;
  transform: rotate(-45deg);
}
.prices__option-2 td:nth-child(2)::before,
.prices__option-3 td:not(:first-child):not(:last-child)::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 32px;
  height: 38px;
  width: 4px;
  background: red;
  transform: rotate(-45deg);
}
.prices__option-2 td:nth-child(2)::after,
.prices__option-3 td:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 32px;
  height: 38px;
  width: 4px;
  background: red;
  transform: rotate(45deg);
}
.prices__tariffs {
  height: 98px;
  color: #fff;
}
#prices-btn-1:checked ~ .prices__table {
  transform: translate(-25%);
}
#prices-btn-2:checked ~ .prices__table {
  transform: translate(-50%);
}
#prices-btn-3:checked ~ .prices__table {
  transform: translate(-75%);
}
.prices__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.prices__control {
  margin: 10px;
  width: 6px;
  height: 6px;
  background: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}
#prices-btn-1:checked ~ .prices__controls label[for="prices-btn-1"],
#prices-btn-2:checked ~ .prices__controls label[for="prices-btn-2"],
#prices-btn-3:checked ~ .prices__controls label[for="prices-btn-3"] {
  border: 3px solid #1d2631;
}
.contacts {
  padding: 40px;
  text-align: center;
  background-color: #fff;
}
.contacts__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}
.contacts__number,
.contacts__mail,
.contacts__adress {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #283645;
}
.contacts__adress {
  margin-bottom: 0;
}
.contacts__number a,
.contacts__mail span,
.contacts__adress span {
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #d22856;
}
.map {
  position: relative;
}
.map::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  background-image: url(../img/triangle-footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
