		.features {
			padding-bottom: ;
			color: #2b3b4b;
			background-color: #f2f2f2;
			background-repeat: no-repeat;
			background-position: center 570px;
			overflow: hidden;
			text-align: center;
			&:before {
				content: "";
				display: block;
				box-sizing: border-box;
				width: 100%;
				margin-bottom: 50px;
				border: 50px solid #fff;
				border-right-color: transparent;
				border-left: none;
				border-bottom: none;
				border-right-width: 767px;
			}
			&:after {
				content: "";
				display: block;
				margin: 0 auto;
				width: 157px;
				height: 280px;
				background: url(../img/iphone.png);
			}
		}
		
		.features__item h2 {
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			color: black;
		}
		
		.features__item p {
			margin: 0;
			padding: 0;
			padding-left: 22px;
			padding-right: 22px;
			margin-bottom: 30px;
		}
