.map {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		background-image: url(../img/bg-triangle-white-footer.svg);
		background-color: transparent;
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 2;
	}
}
