.reviews {
	padding-top: 45px;
	padding-bottom: 30px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #fff;
	color: #1d2631;
}

.reviews__input {
	display: none;
}

.reviews__slider {
	overflow: hidden;
}

.reviews__list {
	width: 300%;
	display: flex;
	justify-content: space-around;
	transition: transform 0.8s;
}

.reviews__item {
	width: 33.3%;
	text-align: center;
}

.reviews__author {
	display: block;
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	padding-bottom: 24px;
	color: #000;
}

.reviews__item blockquote {
	margin: 0;
	padding-bottom: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #283645;
}

.reviews__controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews__control {
	margin: 10px;
	width: 6px;
	height: 6px;
	background: #bec2c7;
	border-radius: 50%;
	cursor: pointer;
}

#reviews-btn-1:checked~.reviews__controls label[for="reviews-btn-1"],
#reviews-btn-2:checked~.reviews__controls label[for="reviews-btn-2"],
#reviews-btn-3:checked~.reviews__controls label[for="reviews-btn-3"] {
	border: 3px solid #1d2631;
}

#reviews-btn-1:checked~.reviews__list {
	transform: translate(0);
}

#reviews-btn-2:checked~.reviews__list {
	transform: translate(-33.3%);
}

#reviews-btn-3:checked~.reviews__list {
	transform: translate(-66.6%);
}

@media @tablet-width {
	.reviews__item {
		display: flex;
		flex-direction: column-reverse;
	}
	.reviews__author-info {
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #283645;
	}
	.reviews__item blockquote {
		margin: 0;
		padding-bottom: 30px;
		font-size: 18px;
		line-height: 30px;
		color: #283645;
	}
}

//СТРЕЛКИ СЛАЙДЕРА
@media @desktop-width {
	.reviews__arrow-left--1~.reviews__controls label[for="reviews-btn-1"],
	.reviews__arrow-right--1~.reviews__controls label[for="reviews-btn-1"],
	.reviews__arrow-left--2~.reviews__controls label[for="reviews-btn-2"],
	.reviews__arrow-right--2~.reviews__controls label[for="reviews-btn-2"],
	.reviews__arrow-left--3~.reviews__controls label[for="reviews-btn-3"],
	.reviews__arrow-right--3~.reviews__controls label[for="reviews-btn-3"] {
		border: 3px solid #1d2631;
	}
	.reviews__arrow-left--1~.reviews__list,
	.reviews__arrow-right--1~.reviews__list {
		transform: translate(0);
	}
	.reviews__arrow-left--2~.reviews__list,
	.reviews__arrow-right--2~.reviews__list {
		transform: translate(-33.3%);
	}
	.reviews__arrow-left--3~.reviews__list,
	.reviews__arrow-right--3~.reviews__list, {
		transform: translate(-66.6%);
	}
}
